<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<table>
    <tbody>
        [for people in peeps]
        <tr>
            <td>Name</td>
            <td>[=people.name]</td>
        </tr>
        [end for]
    </tbody>
</table>

<a href="http://www.some.com/url/[iif interval=d ? 'Daily' : 'Weekly']/that-has-a-iif-condition">YAY Daily</a>
<a href="http://www.some.com/url/[iif interval=w ? 'Daily' : 'Weekly']/that-has-a-iif-condition">YAY Weekly</a>


</body>
</html>