<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<table>
    <tbody>
        
        <tr>
            <td>Name</td>
            <td>Phillip</td>
        </tr>
        

        <tr>
            <td>Name</td>
            <td>Demi</td>
        </tr>
        

        <tr>
            <td>Name</td>
            <td>Richard</td>
        </tr>
        

        <tr>
            <td>Name</td>
            <td>Maggie</td>
        </tr>
        

    </tbody>
</table>

<a href="http://www.some.com/url/Daily/that-has-a-iif-condition">YAY Daily</a>
<a href="http://www.some.com/url/Weekly/that-has-a-iif-condition">YAY Weekly</a>


</body>
</html>