<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<table>
    <tbody>
        
        <tr>
            <td>Name</td>
            <td>Phillip</td>
        </tr>
        

        <tr>
            <td>Name</td>
            <td>Demi</td>
        </tr>
        

        <tr>
            <td>Name</td>
            <td>Richard</td>
        </tr>
        

        <tr>
            <td>Name</td>
            <td>Maggie</td>
        </tr>
        

    </tbody>
</table>


</body>
</html>